html {
    background-color: black;
    color: #d6d6d6;
    font-family: sans-serif;
}

#header {
    text-align: center;
    border-radius: 0.5em;
    background-color: #1b1b1b;
    max-width: 30em;
    margin: auto;
    width: 100%;
    z-index: 20;
    position: relative;
}

#header .banner .title {
    text-align: left;
    font-size: large;
    font-family: monospace;
    text-transform: capitalize;
    color: hotpink;
}

#header .banner .subtitle {
    font-size: large;
    font-family: monospace;
    color: hotpink;
}

#menu {
    text-align: left;
    background-color: transparent;
    position: absolute;
    top: 0px;
    height: 100%;
    border: 0em solid yellow;
    width: auto;
    display: block;
    right: 0px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: inherit;
    cursor: pointer;
}

#menu .icon {
    position: relative;
    top: 25%;
    color: hotpink;
    font-family: 'Fira Code', monospace;
}

#navigation {
    background-color: inherit;
    position: absolute;
    border-radius: inherit;
    margin-top: 1em;
    right: 0%;
    visibility: collapse;
}

#navigation #item {
    min-width: 10em;
    padding: 0.2em 1em;
    cursor: pointer;
}

#navigation #item.cornsheets {
    color: #c9bd59;
}

#navigation #item.evylin {
    color: #c23f3f;
}